<p><label>Фото: </label>{{input placeholder="Фото" type="text" value=link_photo}}</p>

<p><label>Имя: </label>{{input placeholder="Имя" type="text" value=first_name}}</p>

<p><label>Фамилия: </label>{{input placeholder="Фамилия" type="text" value=last_name}}</p>

<p><label>Город: </label>{{input placeholder="Город" type="text" value=city}}</p>
<p>Социальные сервисы:</p>
<p><label>Facebook: </label>{{input placeholder="Facebook" type="text" value=link_facebook}}</p>

<p><label>Vkontakte: </label>{{input placeholder="Vkontakte" type="text" value=link_vk}}</p>

<p><label>GitHub: </label>{{input placeholder="GitHub" type="text" value=link_gihub}}</p>

<p><label>Yandex: </label>{{input placeholder="Yandex" type="text" value=link_yaru}}</p>

<p><label>О себе: </label>{{textarea placeholder="О себе" value=about}}</p>